@{
    ViewBag.Title = "Dan Brannan - Hello";
}

<script>
    Galleria.loadTheme('Content/themes/classic/galleria.classic.min.js');
    Galleria.run('#galleria');
</script>

<h2>Hello there...<br/></h2>
<p class="bodyText">
    & thanks for stopping by! I am a photographer & graphic designer from Sydney. 
    My site is currently having a bit of a make-over but If you'd like to have a chat then please give me a shout over at the contact page 
</p>


<div id="galleria">
    <a href="/Content/Images/3R8A0629.jpg"><img src="/Content/Images/3R8A0629.jpg" data-title="My title" data-description="My description"></a>
    <a href="/Content/Images/3R8A6175.jpg"><img src="/Content/Images/3R8A6175.jpg" data-title="Another title" data-description="My <em>HTML</em> description"></a>
    <a href="/Content/Images/3R8A3395 small.jpg"><img src="/Content/Images/3R8A3395 small.jpg" data-title="Another title" data-description="My <em>HTML</em> description"></a>
</div>

