@{
    ViewBag.Title = "Contact";
}


<p>
    <h1>Hey I just met you, and this is crazy...</h1>

But if you'd like some photo's taking, then call me maybe?

I am a graphic designer & photographer based in Sydney, Australia. If You like the cut of my jib and would like me to help you with a project, please drop me a short message and we can arrange a time to have a chat and discuss your needs. I look forward to hearing from you! Cheers.
</p>